streamlit
fastapi
uvicorn
python-multipart
torch
torchvision
Pillow
open_clip_torch
huggingface_hub
langchain-groq
langchain-core
langchain-community
langgraph
pydantic
python-dotenv
typing-extensions
